/ .header
/   %p チャットグループが作成されました

.wrapper
  .side-bar
    .top
      %p chabi
      %ul{class: "side-bar-icon"}
        = link_to new_group_path do
          %i{class: "far fa-edit edit-icon-color"}
        %i{class: "fas fa-cog cog-icon-color",onclick: "window.open('#')"}

    .bottom
      %h3 テスト
      %p bbb
      %h3 テスト2
      %p まだメッセージはありません
      %h3 テスト3
      %p まだメッセージはありません

  .chat-main
    .edit
      %h3 sampleグループ
      %p Members: chabi 山田太郎 田中花子 鈴木次郎
      %input{onclick: "window.open('#')", type: "button", value: "Edit", name: "button", class: "chat-main-edit__button"}

    .message
      %h3 chabi
      %p aaa
      %h3 chabi
      %p bbb
      %h3 chabi
      %p ccc

    .send
      %input{type: "text", class: "message", placeholder: "type a message"}
      %input{type: "submit", class: "button", value: "Send"}
      %ul{class: "photo-icon"}
        %i{class: "far fa-image"}
